* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --DarkCyan: hsl(185, 75%, 39%);
  --VeryDarkDesaturated: hsl(229, 23%, 23%);
  --DarkGrayish: hsl(227, 10%, 46%);
  --DarkGray: hsl(0, 0%, 59%);
}

body {
  font-family: "Kumbh Sans";
  font-size: 18px;
  background: var(--DarkCyan);
  min-height: 100vh;
  min-width: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile > img {
  border-radius: 50%;
}

.profile > div {
  display: flex;
  width: 220px;
  justify-content: space-around;
}

.profileStatus {
  display: flex;
  width: 470px;
  justify-content: space-around;
}

.StatusOfNumbersProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
